:root {
  /* Colors used for WebUniv */
  --color-abyssal-blue: #183153;
  --color-light-blue: #6EB9E9;
  --color-white: #FFFFFF;
  --color-dark-gray: #1F1F1F;

  /* main font */
  --font-main: 'Arial', 'Helvetica', sans-serif;
}

/*********************************
*********Animations***************
*********************************/
@keyframes pulseStar {
    0%, 100% { transform: scale(0.8) rotate(0deg); opacity: 0.6; }
    50% { transform: scale(1.2) rotate(15deg); opacity: 1; }
}

@keyframes zeroGravityDrift {
    0% {
        transform: scale(1) translateY(0);
    }
    50% {
        transform: scale(1.05) translateY(-5px);
    }

    100% {
        transform: scale(1.00) translateY(0);
    }
}

/*****************************
*********Stars decorations****
*****************************/

/* stars decoration */
.star-decoration {
    position: absolute;
    width: 18px;
    height: 18px;
    clip-path: polygon(50% 0%, 61% 39%, 100% 50%, 61% 61%, 50% 100%, 39% 61%, 0% 50%, 39% 39%);
    animation: pulseStar 4s infinite ease-in-out;
    pointer-events: none;
}

/*first star on the left*/
.star-left {
    background-color: var(--color-abyssal-blue);
    width: 40px;
    height: 40px;
    top: 10px;
    left: -20px;
}

/* second star on the right */
.star-right {
    background-color: var(--color-light-blue);
    animation-delay: 1.5s;
    width: 30px;
    height: 30px;
    bottom: 10px;
    right: -20px;
}

/**************************
********Header container***
**************************/

/* full header */
.header-container {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: url('../assets/img/WebUniv_fond_couverture.png') no-repeat center center;
    background-size: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.445);
    align-items: center;
    flex-wrap: wrap; 
    border-bottom: 1px solid #1f1f1f1f;
    
   
    transform: translateY(0); 
    transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);
}

/* hiding the header when scrolling down */
.header-container.header-hidden {
    transform: translateY(-100%);
    box-shadow: none;
}

/* header wrap */
.header-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    border-radius: 0 0 12px 12px;
    position: relative;
}

/* aligning every items in the header */
.header-logo-link,
.contact-wrapper,
.burger-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

/* Contact button wrapper*/
.contact-wrapper {
    margin-left: 10px;
}


/***************************
************Header logo*****
***************************/

/* header logo link*/
.header-logo-link {
    text-decoration: none;
}

/* header logo img*/
.header-logo-img {
    height: 200px;
    width: auto;
    transition: filter 0.4s ease-in-out, transform 0.4s ease-in-out;
    will-change: transform, filter;
}

/* header logo img hover*/
.header-logo-img:hover {
    filter: drop-shadow(0 0 15px rgba(110, 185, 233, 0.8));
    animation: zeroGravityDrift 5s infinite ease-in-out;
}
/*********************************
***************Header navbar******
*********************************/

/* header full navbar*/
.header-nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

/* header navbar links*/
.header-nav a {
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.35rem;
    padding: 10px 15px;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
}

/* navbar links hover */
.header-nav a:hover{
    color:#d5e0e6;
}


/* animation underline for navbar links */
.header-nav a:not(#navbar-contactLink)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 0px;
    height: 2px;
    background-color: var(--color-white);
    transition: width 0.3s ease;
}

/* animation underline hover */
.header-nav a:not(#navbar-contactLink):hover::after {
    width: calc(100% - 20px);
}


/* contact button */
.header-nav a#navbar-contactLink {
    background: linear-gradient(135deg, var(--color-abyssal-blue) 0%, #204373 100%);
    border: 2px solid var(--color-light-blue);
    padding: 12px 28px;
    border-radius: 12px;
    font-weight: 600;
    box-shadow: 0 0 15px rgba(110, 185, 233, 0.2);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/*contact button hover */
.header-nav a#navbar-contactLink:hover {
    color: var(--color-white);
    background: linear-gradient(135deg, #204373 0%, var(--color-light-blue) 100%);
    box-shadow: 0 0 25px rgba(110, 185, 233, 0.6);
    border-color: var(--color-white);
    transform: translateY(-2px);
    filter: drop-shadow(0 0 15px rgba(110, 185, 233, 0.8));
}


/* Phone button */
.header-phone-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid var(--color-light-blue);
    color: var(--color-white);
    padding: 16px 20px; 
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 200px; 
    
}

/* Phone button hover*/
.header-phone-btn:hover {
    background: rgba(110, 185, 233, 0.15); 
    color:#d5e0e6;
}

/* Phone button icon */
.header-phone-btn .phone-icon {
    margin-right: 8px;
    color: var(--color-light-blue);
}

/********************************
********Menu button for mobile***
********************************/

/* show the button for mobile menu*/
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: all 0.3s ease;
}

/* mobile menu button hover*/
.menu-toggle:hover {
    filter: drop-shadow(0 0 15px var(--color-white));
}

/* mobile menu button bars*/
.menu-toggle .bar {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: all 0.3s ease;
}


/********************************
******** Responsive Rules *******
********************************/
/* Tablets + Mobiles / Tablets landscape */
@media (max-width: 1024px), (max-width: 1500px) and (orientation: landscape) {

    /* first star on the left */
    .star-left{
        width:25px;
        height:25px;
        top: 10px;
        left: 5px;
    }

    /* second star on the right */
    .star-right{
        width: 20px;
        height: 20px;
        bottom: 5px;
        right: 7px;
    }

    /*full header navbar*/
    .header-nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        background: rgba(16, 37, 66, 0.95); 
        gap: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

    /*header logo img*/
    .header-logo-img {
        height: 100px; 
    }

    /*showing the burger button*/
    .menu-toggle {
        display: flex;
    }

    /*animations on click for the burger button*/
    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }


    /*navbar menu*/
    .header-nav.nav-open {
        max-height: 400px;
        padding-bottom: 20px;
    }

    /*header navbar links*/
    .header-nav a {
        padding: 15px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }
    
    /*header navbar links hover*/
    .header-nav a:hover {
        background: rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    /*contact wrapper*/
    .contact-wrapper {
        margin: 15px auto;
        width: 50%;
        display: flex;
        justify-content: center;
    }

    /*contact button*/
    .header-nav a#navbar-contactLink {
        margin-top: 20px;
        width: 80%;
        text-align: center;
        display: block;
        box-sizing: border-box;
    }

    /*phone button*/
    .header-phone-btn {
        margin: 15px auto; 
        width: 80%; 
        padding: 12px;
    }
}



/* Mobile landscape */
@media (max-width: 899px) and (orientation: landscape) {
    .header-logo-img{
        height: 80px; 
    }
}